* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html, body {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

img {
    width: 100%;
    display: block;
}

::-webkit-scrollbar {
    width: 0.5rem;
  }
  
  ::-webkit-scrollbar-track {
    background-color: $gray-500;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: $gray-200;
  }