// Gray Colors

$gray-50: #eaeaea;
$gray-100: #bebebf;
$gray-200: #9e9ea0;
$gray-300: #727275;
$gray-400: #56565a;
$gray-500: #2c2c31;
$gray-600: #28282d;
$gray-700: #1f1f23;
$gray-800: #18181b;
$gray-900: #121215;

// Purple colors

$purple-50: #f3eefc;
$purple-100: #d8cbf7;
$purple-200: #c6b2f3;
$purple-300: #ab8eee;
$purple-400: #9b79ea;
$purple-500: #8257e5;
$purple-600: #764fd0;
$purple-700: #5c3ea3;
$purple-800: #48307e;
$purple-900: #372560;

// Orange Colors

$orange-50: #ffefeb;
$orange-100: #ffccc2;
$orange-200: #ffb4a4;
$orange-300: #ff927b;
$orange-400: #ff7d61;
$orange-500: #ff5c3a;
$orange-600: #e85435;
$orange-700: #b54129;
$orange-800: #8c3320;
$orange-900: #6b2718;

// Yellow Colors

$yellow-50: #fff9ec;
$yellow-100: #ffebc4;
$yellow-200: #ffe2a7;
$yellow-300: #ffd47f;
$yellow-400: #ffcc66;
$yellow-500: #ffbf40;
$yellow-600: #e8ae3a;
$yellow-700: #b5882d;
$yellow-800: #8c6923;
$yellow-900: #6b501b;


// Green Colors

$green-50: #e6fbef;
$green-100: #b1f1ce;
$green-200: #8cebb6;
$greem-300: #57e295;
$green-400: #36dc81;
$green-500: #04d361;
$green-600: #04c058;
$green-700: #039645;
$green-800: #027435;
$green-900: #025929;